.button {
  display: block;
  margin-bottom: 1px;
  width: 75px;
  text-decoration: none;
  outline: none;
  height: 20px;
  color: white;
  /* padding: 20px 30px; */
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
}

.box {
  display: flex;
  color: grey;
}

.imageBox {
  margin-right: 10px;
}

.title {
  text-align: center;
  font-size: 32px;
  color: palevioletred;
  font-weight: 700;
}

.text {
  color: black;
}
